<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Male_Fashion Template">
  <meta name="keywords" content="Male_Fashion, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Male-Fashion | Template</title>


</head>

<body>
<!-- Page Preloder -->
<section layout:fragment="content">
  <section class="banner spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 offset-lg-4">
          <div class="banner__item">
            <div class="banner__item__pic">
              <img src="img/banner/banner-1.jpg" alt="">
            </div>
            <div class="banner__item__text">
              <h2>Clothing Collections 2030</h2>
              <a href="#">Shop now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="banner__item banner__item--middle">
            <div class="banner__item__pic">
              <img src="img/banner/banner-2.jpg" alt="">
            </div>
            <div class="banner__item__text">
              <h2>Accessories</h2>
              <a href="#">Shop now</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="banner__item banner__item--last">
            <div class="banner__item__pic">
              <img src="img/banner/banner-3.jpg" alt="">
            </div>
            <div class="banner__item__text">
              <h2>Shoes Spring 2030</h2>
              <a href="#">Shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Banner Section End -->

  <!-- Product Section Begin -->
  <section class="product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="filter__controls">
            <li class="active" data-filter="*">Best Sellers</li>
            <li data-filter=".new-arrivals">New Arrivals</li>
            <li data-filter=".hot-sales">Hot Sales</li>
          </ul>
        </div>
      </div>
      <div class="row product__filter">
        <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals" th:each="product : ${products}">
          <div class="product__item" th:href="@{'cart/product/' + ${product.id}}">
            <div class="product__item__pic set-bg" th:data-setbg="${'/img/product/' + product.image}">
              <span class="label">New</span>
              <ul class="product__hover">
                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                <li><a th:href="@{'cart/product/' + ${product.id}}"><img src="img/icon/search.png" alt=""></a></li>
              </ul>
            </div>
            <div class="product__item__text">
              <h6 th:utext="${product.name}"></h6>
              <a th:href="@{'cart/addToCart/' + ${product.id}}"class="add-cart">+ Add To Cart</a>
              <div class="rating">
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <h5 th:utext="${product.price}"></h5>
              <div class="product__color__select">
                <label for="pc-1">
                  <input type="radio" id="pc-1">
                </label>
                <label class="active black" for="pc-2">
                  <input type="radio" id="pc-2">
                </label>
                <label class="grey" for="pc-3">
                  <input type="radio" id="pc-3">
                </label>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>
  <!-- Shop Section End -->

</section>
</body>

</html>